cycler==0.10.0
kiwisolver==1.2.0
lxml==4.5.1
matplotlib==3.2.1
numpy==1.18.4
opencv-contrib-python==4.2.0.34
Pillow==7.1.2
pyparsing==2.4.7
PySide2==5.15.0
python-dateutil==2.8.1
python-magic==0.4.18
scipy==1.4.1
sewar==0.4.3
shiboken2==5.15.0
six==1.15.0
tabulate==0.8.7
