tensorflow==2.11.1
astor==0.8.1
concurrent-iterator==0.2.6
keras-applications==1.0.8
lxml==4.9.1
matplotlib==3.6.0
opencv-contrib-python-headless==4.6.0.66
pandas==1.5.0
pyside6==6.3.2
python-magic==0.4.27
python-magic-bin
rawpy==0.17.2
scikit-image==0.19.3
scikit-learn==1.1.2
sewar==0.4.5
xgboost==1.6.2
