astor==0.8.1
concurrent-iterator==0.2.6
keras-applications==1.0.8
lxml==4.8.0
matplotlib==3.5.1
opencv-contrib-python-headless==4.5.5.64
pandas==1.4.1
pyside2==5.15.2.1
python-magic==0.4.25
rawpy==0.17.1
scikit-image==0.19.2
scikit-learn==1.0.2
sewar==0.4.5
tensorflow==2.8.0
xgboost==1.1.1
