astor==0.8.*
concurrent-iterator==0.2.*
keras-applications==1.0.*
lxml==4.9.*
matplotlib==3.8.*
opencv-contrib-python-headless==4.*
pandas>=2.1.1
pyside6==6.7.*
python-magic-bin==0.4.* ; sys_platform == 'win32' or sys_platform == 'darwin'
python-magic==0.4.* ; sys_platform == 'linux'
rawpy==0.19.*
scikit-learn==1.5.*
sewar==0.4.*
tensorflow==2.16.*
xgboost==1.6.*
pillow==10.3.*
PyWavelets==1.5.*
kneed== 0.8.*