astor==0.8.1
concurrent-iterator==0.2.6
keras-applications==1.0.8
lxml==4.9.3
matplotlib==3.8.2
opencv-contrib-python-headless==4.6.0.66
pandas==1.5.0
pyside6==6.4.0.1
python-magic-bin==0.4.14
rawpy==0.17.3
scikit-image==0.22.0
scikit-learn==1.3.2
sewar==0.4.5
tensorflow==2.12.0
xgboost==1.6.2
pillow==9.5
PyWavelets==1.5.0
